// スマートフォン用ヘッダー
%headder.sp-header.visible-sp.has-search-nav
  .top-header
    %h1.top-header__logo
      = link_to image_tag("header-logo.svg", alt: "ヘッダーロゴ", style: "vertical-align:bottom"), root_path, class: "top-header__logo__link"

    .top-header__user-nav
      -if user_signed_in?
        = link_to image_tag("mypage_logo.png", alt: "マイページロゴ", class: "mypage-btn--small"), users_path
      -else
        = link_to "ログイン", new_user_session_path, class: "sp-header-btn login-btn"

        = link_to "新規会員", user_registration_index_path, class: "sp-header-btn signup-btn"

  .search-bar
    = search_form_for(@q, url: search_items_path, html: { class: "search-bar__form" }) do |f|

      = f.label :name_or_description_cont, for: "search-icon" do
        %i.fa.fa-search
      = f.search_field :name_or_description_cont, class: "search-bar__form__textfield", placeholder: "何をお探しですか？"
      = f.submit "Search", id: "search-icon"

  .search-nav
    = link_to "カテゴリから探す", "#", class: "search-nav__category"

    = link_to "ブランドから探す", "#", class: "search-nav__brand"

//PC・タブレット用ヘッダー
%header.pc-header.visible-pc
  .header-container
    .top-wrapper
      %h1.top-wrapper__logo
        = link_to image_tag("header-logo.svg", width: "134", height: "36", alt: "ヘッダーロゴ", style: "vertical-align:bottom"), root_path, class: "top-wrapper__logo__img"
      = search_form_for(@q, url: search_items_path, html: { class: "top-wrapper__form" }) do |f|
        = f.label :name_or_description_cont, for: "search-icon" do
          %i.fa.fa-search
        = f.search_field :name_or_description_cont, class: "top-wrapper__form__textfield", placeholder: "キーワードから探す"
        = f.submit "Search", id: "search-icon"
    .bottom-wrapper
      %nav.left-nav
        %ul.left-nav__menu
          %li
            %h2
              = link_to "カテゴリーから探す", "#", class: "left-nav__menu--category"
          %li
            %h2
              =link_to "ブランドから探す", "#", class: "left-nav__menu--brand"


      .right-nav
        %ul.right-nav__buttons
          -if user_signed_in?
            %li
              = link_to users_path, class: "mypage-btn" do
                =image_tag("mypage_logo.png", alt: "マイページロゴ", class: "mypage-btn--small")
                マイページ

            %li
              = link_to "ログアウト", destroy_user_session_path, class: "logout-btn", method: :delete
          -else
            %li
              = link_to "ログイン", new_user_session_path, class: "sp-header-btn login-btn"

            %li
              = link_to "新規会員登録", user_registration_index_path, class: "sp-header-btn pc-signup"
