.side-bar
  .side-nav
    %ul.side-nav__list
      %li
        = link_to "マイページ", "/users", class: "side-nav__list__content"
      %li
        = link_to "お知らせ", "#", class: "side-nav__list__content"
      %li
        = link_to "やることリスト", "#", class: "side-nav__list__content"
      %li
        = link_to "いいね！一覧", "#", class: "side-nav__list__content"
      %li
        = link_to "出品する", "/items/new", class: "side-nav__list__content"
      %li
        = link_to "出品した商品-出品中", {controller: "users", action: "edit", name: "listing"}, class: "side-nav__list__content"
      %li
        = link_to "出品した商品-取引中", {controller: "users", action: "edit", name: "in_progress"}, class: "side-nav__list__content"
      %li
        = link_to "出品した商品-売却済み", {controller: "users", action: "edit", name: "completed"}, class: "side-nav__list__content"
      %li
        = link_to "購入した商品-取引中", "#", class: "side-nav__list__content"
      %li
        = link_to "購入した商品-過去の取引", "#", class: "side-nav__list__content"
      %li
        = link_to "ニュース一覧", "#", class: "side-nav__list__content"
      %li
        = link_to "評価一覧", "#", class: "side-nav__list__content"
      %li
        = link_to "ガイド", "#", class: "side-nav__list__content"
      %li
        = link_to "お問い合わせ", "#", class: "side-nav__list__content"


    %h3.side-nav__head 売上・ポイント
    %ul.side-nav__list
      %li
        = link_to "売上・振込申請", "#", class: "side-nav__list__content"
      %li
        = link_to "ポイント", "#", class: "side-nav__list__content"

    %h3.side-nav__head 設定
    %ul.side-nav__list
      %li
        = link_to "プロフィール", "#", class: "side-nav__list__content"
      %li
        = link_to "住所変更", "#", class: "side-nav__list__content"
      %li
        = link_to "支払い方法", "#", class: "side-nav__list__content"
      %li
        = link_to "メール/パスワード", "#", class: "side-nav__list__content"
      %li
        = link_to "本人情報", "#", class: "side-nav__list__content"
      %li
        = link_to "電話番号の確認", "#", class: "side-nav__list__content"
      %li
        = link_to "ログアウト", "#", class: "side-nav__list__content"
