= render "shared/sub-header"
.single-main
  .order
    .order__head-inner
      %h2.innertitle 購入を確定しますか？
    .order__form-inner
      .buy-item-info
        %h3
          =image_tag(@item.image.url, class: "buy-main-photo")
        %p.buy-item-name=@item.name
        %p.buy-item-price=converting_to_jpy(@item.price)
        %span.include-fee 送料込み
      .buy-buttons
        %p.btn-point ポイントはありません
        %p.buy-item-cell 支払い金額
        %p.item-price=converting_to_jpy(@item.price)
        %p.has-error-text= flash[:notice]
        -if current_user.payment
          = form_for [@item, @order] do |f|
            = f.submit "購入する", class: "btn-canbuy"
        -else
          %button.btn-buy
            購入しない
    .order__user-info
      .user-info-inner
        %h3.deliver-to-title 配送先
        %address
          ="〒#{current_user.postalcode}"
          %br
          =current_user.prefecture
          =current_user.city
          =current_user.block
          =current_user.building
          %br
        =link_to "#", class: "user-address-change" do
          変更する
          %i.fa.fa-chevron-right
    .order__pay-method
      .pay-method-inner
        %h3.pay-method-title 支払い方法
        \/
        %br
        =link_to "#", class: "pay-method-change" do
          変更する
          %i.fa.fa-chevron-right

= render "shared/sub-footer"
