= render "shared/header"

/ スライド
.slide
  = link_to image_tag("slide1.png", width: "1440", height: "390", alt: "ヘッダーロゴ", style: "vertical-align:bottom"), root_path, class: "slide-img"


/ 全ての商品一覧

.item-list

  %h2.item-group 全ての商品一覧

  .item-container
    .pickup-items
      %h3
        = link_to "カテゴリー", "#"

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

        .allitem-link
          %a{href: "#"} すべての商品を見る


  .item-container
    .pickup-items
      %h3
        %a{href: "#"} ブランド

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

      .item
        = link_to "#", class: "item__img" do
          = image_tag("item-img.png", width: "213", height: "213", alt: "アイテム画像", style: "vertical-align:bottom")
          .item__body
            %h3.item__name 商品名が入ります
            .item__num
              .item__num__price ￥9,999
              .item__num__likes
                =fa_icon("heart", text: 10)
              %p (税込)

        .allitem-link
          %a{href: "#"} すべての商品を見る

/ バナー
.app-banner
  = link_to image_tag("app-banner.png", width: "1440", height: "260", alt: "アプリバナー", style: "vertical-align:bottom"), root_path, class: "app-banner"


/ 出品ボタン


= render "shared/footer"
