
= render "shared/sub-header"

.sell-main
  .item-information
    %h2.innertitle 商品の情報を入力


    = form_for @item, builder: ApplicationFormBuilder, html: {class: "item-information__form-inner"}do |f|

      .sell-upload-box
        = f.label :image, class: "item-label" do
          出品画像
          %span.required 必須
          %p 最大10枚までアップロードできます
        = f.file_field :image, class: "sell-dropbox-container"

      .sell-content
        .form-group
          = f.label :name, class: "item-label" do
            商品名
            %span.required 必須
          = f.text_field :name, placeholder: "商品名(必須40文字まで)", class: "form-group__form-default"
          - if @item.errors.any?
            %li.errors
              = @item.errors.full_messages_for(:name)[0]

        .form-group
          = f.label :description, class: "item-label" do
            商品の説明
            %span.required 必須
          = f.text_area :description, placeholder: "商品の説明(必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。", class: "form-group__form-default textarea-default"

      .sell-content
        %h3.sell-sub-head 商品の詳細

        .sell-form-box
          .form-group
            = f.label :category_id, class: "item-label" do
              カテゴリー
              %span.required 必須

            =f.collection_select :category_id, Category.roots, :id, :name, { prompt: "---" }, {class: "select-default root_category"}

          %div
            - Category.roots.each do |root_category|
              %template{id: "child_of#{ root_category.id }"}
                =f.collection_select :category_id, root_category.children, :id, :name, { prompt: "---" }, {class: "select-default child_categories"}

          %div
            - Category.roots.each do |root_category|
              - Category.children_of(root_category).each do |child_category|
                %template{id: "child_of#{ child_category.id }"}
                  = f.collection_select :category_id, child_category.children, :id, :name, { prompt: "---" }, {class: "select-default grand-child_categories"}

          .form-group#sml-size
            = f.label :size, class: "item-label" do
              サイズ
              %span.any 任意         
            = f.enum_select :size, prompt: "---"

          .form-group
            = f.label :brand_id, class: "item-label" do
              ブランド
              %span.any 任意
            = f.text_field :brand_id, placeholder: "例) シャネル", class: "form-group__form-default"
            =flash[:notice_brand_registration]

          .form-group
            = f.label :item_status, class: "item-label" do
              商品の状態
              %span.required 必須
            = f.enum_select :item_status, prompt: "---"

      .sell-content
        %h3.sell-sub-head 配送について

        .sell-form-box
          .form-group
            = f.label :shipping_fee, class: "item-label" do
              配送量の負担
              %span.required 必須
            = f.enum_select :shipping_fee, prompt: "---"

          .form-group
            = f.label :delivery_way, class: "item-label" do
              配送の方法
              %span.required 必須
            = f.enum_select :delivery_way, prompt: "---"

          .form-group
            = f.label :shipping_area, class: "item-label" do
              発送元の地域
              %span.required 必須
            = f.collection_select :shipping_area, JpPrefecture::Prefecture.all, :name, :name, include_blank: true, prompt: "---"

          .form-group
            = f.label :estimated_shipping_date, class: "item-label" do
              発送までの日数
              %span.required 必須
            = f.enum_select :estimated_shipping_date,  prompt: "---"

      .sell-content
        %h3.sell-sub-head 販売価格(300〜9,999,999)

        .sell-form-box
          %ul.sell-price
            %li
              = f.label :price, class: "item-label l-left" do
                価格
                %span.required 必須
              .l-right
                ¥
                .l-right__form
                  = f.text_field :price, placeholder: "例) 300", class: "form-group__form-default price-form"

            - if @item.errors.any?
              %li.errors
                = @item.errors.full_messages_for(:price)[0]

            %li.commissions
              .l-left 販売手数料(10％)
              .l-right -
            %li.profit
              .l-left 販売利益
              .l-right -

      .sell-content
        %p 禁止されている出品、行為は必ずご確認ください。
        %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であり処罰される可能性があります。
        %p また。出品をもちまして加盟店規約に同意したことになります。
        = f.submit "出品する", class: "submit-btn", id: "modal-open"
        = link_to "もどる", root_path, class: "return-btn"

.modal-content#modal-newitem
  %h3.modal-content__head 出品が完了しました
  .modal-content__body
    あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
    = link_to "続けて出品する", new_item_path, class: "submit-btn"
    = link_to "商品ページへ行ってシェアする", "#", class: "share-link"

= render "shared/sub-footer"
