
/ ヘッダー
= render "shared/header"

.item-list
  .single-main
    .item-detail
      %h1.item-detail__name=@item.name
      %p.item-detail__wording 『ロシアンダイヤ・ピンクサファイア・リング・11号・未使用♡即購入OK♡値下げ』は、65回の取引実績を持つレオンさんから出品されました。リング/レディースの商品で、東京都から2~3日で発送されます。
      .item-detail__main-contents.main-contents
        %section.main-contents__photo
          =image_tag(@item.image.url, class: "item-main-photo")
          .item-sub-photo
        %section.main-contents__detail.main-contents__detail--large
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  =link_to @item.user.nickname, "#"
                  %br
                  .item-user-eva
                    %i.fa.fa-smile-o.smile
                    78
                  .item-user-eva
                    %i.fa.fa-meh-o.meh
                    10
                  .item-user-eva
                    %i.fa.fa-frown-o.frown
                    10
              %tr
                %th カテゴリー
                %td
                  =link_to "メンズ", "#"
                  %br
                  =link_to "ジャケット/アウター", "#"
                  %br
                  =link_to "ダウンジャケット", "#"
              %tr
                %th ブランド
                %td ナノ ユニバース
              %tr
                %th 商品のサイズ
                %td S
              %tr
                %th 商品の状態
                %td
                  =@item.item_status
              %tr
                %th 配送料の負担
                %td
                  =@item.shipping_fee
              %tr
                %th 配送の方法
                %td
                  =@item.delivery_way
              %tr
                %th 配送元地域
                %td
                  =link_to @item.user.prefecture, "#"
              %tr
                %th 発送日の目安
                %td
                  =@item.estimated_shipping_date
      .item-detail__price-box
        %span.item-price=converting_to_jpy(@item.price)
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      .item-detail__item-buy-button
        =link_to "購入画面に進む", new_item_order_url(@item.id), class: "btn-buy"
        %section.main-contents__detail.main-contents__detail--small
          %table
            %tbody
              %tr
                %th 出品者
                %td
                  =link_to @item.user.nickname, "#"
                  %br
                  .item-user-eva
                    %i.fa.fa-smile-o.smile
                    78
                  .item-user-eva
                    %i.fa.fa-meh-o.meh
                    10
                  .item-user-eva
                    %i.fa.fa-frown-o.frown
                    10
              %tr
                %th カテゴリー
                %td
                  =link_to "メンズ", "#"
                  %br
                  =link_to "ジャケット/アウター", "#"
                  %br
                  =link_to "ダウンジャケット", "#"
              %tr
                %th ブランド
                %td ナノ ユニバース
              %tr
                %th 商品のサイズ
                %td S
              %tr
                %th 商品の状態
                %td 未使用に近い
              %tr
                %th 配送料の負担
                %td 送料込み(出品者負担)
              %tr
                %th 配送の方法
                %td ゆうゆうメルカリ便
              %tr
                %th 配送元地域
                %td
                  =link_to @item.user.prefecture, "#"
              %tr
                %th 発送日の目安
                %td 2~3日で発送
      .item-detail__price-box.item-detail__price-box--small
        %span.item-price=converting_to_jpy(@item.price)
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      .item-detail__item-buy-button.item-detail__item-buy-button--small
        =link_to "購入画面に進む", new_item_order_url(@item.id), class: "btn-buy"
      .item-detail__description
        %p.description-inner=@item.description
      .item-detail__sub-buttons
        %button.btn-tag-like
          %i.fa.fa-heart-o
          いいね
        %button.btn-tag-unfitable
          %i.fa.fa-flag-o
          不適切な商品の報告
        =link_to "#", class: "safty" do
          %i.fa.fa-lock
          あんしん・あんぜんへの取り組み
    .comment-container
      .comment-container__comment-view.comment-view
        = link_to image_tag("", alt: "", class: "comment-view__user_image")
        .comment-view__user-name Natalia
        .comment-view__balloom
          すみません、どんなファーでしょうか？
          .comment-time
            %i.fa.fa-clock-o
            3日前
          .comment-flag
            %i.fa.fa-flag-o
      %form{action: "/", method: "post"}
        %p.comment-container__attention 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.comment-container__textarea
        %input{type: "submit", value: "コメントする", class: "comment-container__button"}

    %nav.item-paginate
      %ul
        %li.item-paginate__prev
          =link_to "#" do
            %i.fa.fa-chevron-left
            テラフォーマーズ 1〜19巻セット
        %li.item-paginate__next
          =link_to "#" do
            ねこのかぶりもの ロコン
            %i.fa.fa-chevron-right
    .sns-container
      .sns-box
        .facebook
          %i.fa.fa-facebook-square
        .twitter
          %i.fa.fa-twitter
        .pinterest
          %i.fa.fa-pinterest

    .user-item-container
      %h3
        = link_to "#{@item.user.nickname}さんのその他の出品", "#"
      .item
        = render partial: 'shared/items-box', collection: @items, as: "item"
/ バナー
.app-banner

/ フッター
= render "shared/footer"
