!!!
%html
  %head
    %meta{content:"text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1,user-scalable=no" }
    %title Freemarket42nagoya
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{ rel:"stylesheet", href:"https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity:"sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin: "anonymous"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  .single-container
    %header.single-header--SignUp
      .single-header--SignUp__SignUpimage
        = link_to image_tag("header-logo.svg", alt: "Mercari", class: "single-header-logo"), root_path, class: "single-header-link"
      .single-header--SignUp__SignUpNav
        %nav
          %ol.progress-bar
            %li.basic-infomation_point
              %span 会員情報
            %li.residence_point
              %span 住所入力
            %li.payment_point
              %span 支払い方法
            %li.finish_point
              %span 完了
    = yield
    = render "shared/sub-footer"
